@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
	<h1>Welcome to CodeShareClone!</h1>

	<br />

	<p>
		<a class="btn btn-primary" href="/Share/Create">Share code now!</a>
	</p>

</div>
